.naslov1, .naslov2, .naslov3{
	width: 200px;
	height: 100%;
	background: gray;
	color:white;
	padding:2px;
	cursor:pointer;

}
.podnaslov1, .podnaslov2, .podnaslov3{
	width: 200px;
	height: 100%;
	background: silver;
	color:white;
	padding:2px;
	display:none;
}